[Unit]
Description=Needletail Operations global discovery
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
DynamicUser=yes
User=needletail-ops-entrypoint
EnvironmentFile=/etc/needletail/operations-entrypoint.env
ExecStart=/usr/local/bin/needletail-ops-entrypoint
Restart=on-failure
RestartSec=2
CapabilityBoundingSet=
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_INET AF_INET6
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
